@import "tailwindcss";

@layer base {
  html {
    @apply font-sans;
  }
}

body {
  font-family: var(--font-heading), "Bricolage Grotesque", sans-serif;
}

input,
textarea,
select,
button,
label {
  font-family: var(--font-heading), "Bricolage Grotesque", sans-serif !important;
}

h2 {
  font-family: "Bricolage Grotesque", sans-serif;
}
